@font-face {
  font-family: 'Spartan';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url(/fonts/Spartan-Regular.ttf);
}

@font-face {
  font-family: 'Spartan';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url(/fonts/Spartan-Bold.ttf);
}

@tailwind base;

@layer base {
  #burger-bar,
  #burger-bar::before,
  #burger-bar::after {
    transition:
      transform 300ms linear,
      background-color 200ms ease-in-out;
  }

  #burger-bar::before,
  #burger-bar::after {
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    transform-origin: center center;
  }

  #burger-bar::before {
    transform: translateY(-6px);
  }

  #burger-bar::after {
    transform: translateY(6px);
  }

  #burger-bar[data-active='true'] {
    transform: translateX(12px);
    background-color: transparent !important;
  }

  #burger-bar[data-active='true']:before {
    transform: translate(-12px, 0px) rotate(-45deg);
  }

  #burger-bar[data-active='true']:after {
    transform: translate(-12px, 0px) rotate(45deg);
  }
}

@tailwind components;
@tailwind utilities;
